body {
  color: black;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 7%;
}

.icon {
  padding: 5px;
  height: 15px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: lightgrey;
  color: black;
  margin-right: 10px;
}

.social_media {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  float: right;
  align-self: center;
}

.date_social {
  display: flex;
}

#date {
  float: left;
}

.nav-bar {
  z-index: 1;
  overflow: hidden;
  top: 0;
  left: 0;
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 5%;
  border: solid grey 0.5px;
}

.nav-button {
  background-color: steelblue;
  color: white;
}

.nav-bar a .bar-title {
  text-align: right;
}

header {
  position: relative;
  text-align: center;
  font-size: 250%;
  font-style: italic;
  font-weight: bold;
}

.paragraph {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.par1 {
  color: black;
  display: flex;
  flex-wrap: wrap;
  height: 20%;
}

.text_on_image {
  position: relative;

}

.text {
  position: absolute;
  width: 100%;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 10px;
}

.latest {
  display: flex;
  align-items: flex-end;
}

.sataliteImages {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span {
  font-weight: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.footer_logo {
  align: left;
  margin:0;
}

p {
  font-size: 150%;
  font-style: inherit;
}

.footer_container_items {
  display: flex;
  flex-direction: column;
}

.footer_container_items a {
  text-decoration: none;
  color: black;
}

.subscribe a {
  text-decoration: none;
  color: black;
}

.subscribe {
  display: flex;
  flex-direction: column;
}

.copyrightLine a {
  text-decoration: none;
  color: black;
}

.more a {
  text-decoration: none;
  color: black;
}

.editorPickItems a {
  text-decoration: none;
  color: black;
}

.popular a {
  text-decoration: none;
  color: black;
}

.footer_container_items a:hover {
  text-decoration: underline;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editorPickItems {
  display: flex;
  justify-content: space-between;

}

.more {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.suggested {
  display: flex;
  justify-content: space-between;
}

.popular {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
}

.imageText {
  display: flex;
  align-content: space-between;
}

.copyrightLine {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  justify-content: space-between;
  font-size: 80%;
}

.copyrightLine a:hover {
  text-decoration: underline;
}
